.spotify {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    .spotify-container {
        display: flex;
        flex: 1;
        height: calc(100vh - 120px);
        .spotify-side-bar {
            padding: 16px 20px;
            width: 240px;
            background-color: black;
            border-right: 1px solid var(--borderColor);
            position: relative;
            .icon {
                padding-right: 6px;
                font-size: 2rem;
                width: 28px;
            }
            .side-bar-logo {
                width: 13rem;
                margin-top: 6px;
                color: white;
            }
            .size-bar-option {
                margin-top: 12px;
                padding-top: 6px;
                border-bottom: 1px solid var(--borderColor);

                .size-bar-option-item {
                    display: flex;
                    align-items: center;
                    margin: 30px 0;
                    opacity: 0.6;
                    color: white;
                    text-decoration: none;
                    transition: 0.1s;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                    .option-item-label {
                        margin-left: 10px;
                        font-size: 1.6rem;
                        font-weight: 500;
                    }
                }
                .option-item-active {
                    opacity: 1;
                }
                .option-item-loved-song {
                    .icon {
                        width: 28px;
                    }
                }
                .option-item-install-app {
                    position: absolute;
                    bottom: 0;
                }
            }
            .close-icon {
                position: absolute;
                top: 0px;
                right: 24px;
                font-size: 3rem;
                cursor: pointer;
            }
        }
        .spotify-content {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 16px 24px;
            background-color: #121212;
            .user-infor {
                padding: 5px 8px;
                background-color: black;
                color: white;
                position: absolute;
                top: 16px;
                right: 24px;
                border-radius: 32px;
                display: flex;
                align-items: center;
                .sign-out-icon {
                    font-size: 2rem;
                    background: red;
                    color: white;
                    padding: 6px;
                    border-radius: 50%;
                    margin-left: 12px;
                    cursor: pointer;
                }
            }
            .navbar {
                font-size: 2rem;
                margin-bottom: 24px;
                display: none;
            }
        }
    }
    .spotify-playing-bar {
        background-color: #181818;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        .song-infor {
            flex-basis: 40%;
        }
        // .pre-next-icon {
        //     margin: 0 24px;
        //     .icon {
        //         font-size: 2.2rem;
        //         opacity: 0.8;
        //         margin: 0 12px;
        //         cursor: pointer;
        //         &:hover {
        //             opacity: 1;
        //         }
        //     }
        // }
        .play-box {
            flex: 1;
            .audio {
                width: 100%;
            }
        }
    }
}
@media (max-width: 740px) {
    .spotify {
        .spotify-container {
            .spotify-side-bar {
                width: fit-content;
                position: absolute;
                top: 30%;
                left: 0;
                transform: translateY(-50%);
                z-index: 2;
                border-radius: 0 12px 12px 0;
                .side-bar-logo {
                    display: none;
                }
                .size-bar-option {
                    .size-bar-option-item {
                        .option-item-label {
                            display: none;
                        }
                    }
                    .option-item-install-app {
                        position: relative;
                    }
                }
            }
        }
    }
    .spotify-playing-bar {
        .song-infor {
            display: none;
        }
    }
}
