.sign-in {
    .sign-in-header {
        padding: 24px 0;
        border-bottom: 1px solid var(--borderColorForLight);
        text-align: center;
        .logo {
            width: 20rem;
        }
    }
    .sign-in-body {
        width: 450px;
        max-width: 90%;
        margin: auto;
        .login-bar {
            margin-top: 32px;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            .bar {
                flex: 1;
            }
            .label {
                margin: 0 12px;
                color: var(--greenColor);
                font-weight: 500;
            }
        }
        .form {
            width: 100%;
            padding: 40px 0 24px;
            .form-item {
                &:nth-child(n + 2) {
                    margin-top: 24px;
                }
                .label {
                    display: block;
                    font-weight: 500;
                    font-size: 1.4rem;
                    margin-bottom: 6px;
                }
                .input {
                    width: 100%;
                    font-size: 1.4rem;
                    outline: none;
                    padding: 16px;
                    border-radius: 6px;
                    border: 1px solid #ababab;
                }
                .error-label {
                    display: flex;
                    align-items: center;
                    color: red;
                    font-size: 1.3rem;
                    margin-top: 10px;
                    .text {
                        margin-left: 6px;
                    }
                }
                .error-border{
                    border-color: red;
                }
            }
            .btn {
                margin-top: 24px;
                background-color: var(--greenColor);
                padding: 10px 24px;
                border-radius: 24px;
                outline: none;
                border: none;
                font-weight: 500;
                font-size: 1.5rem;
                display: flex;
                margin-left: auto;
            }
        }
        .account-exist-label {
            text-align: center;
            font-size: 1.6rem;
            margin-top: 12px;
            .sign-in-label {
                color: var(--greenColor);
            }
        }
    }
}
