.home-page {
    .search-input {
        width: fit-content;
        display: flex;
        align-items: center;
        position: relative;
        .icon {
            position: absolute;
            left: 10px;
            font-size: 2rem;
        }
        .input {
            outline: none;
            border-radius: 24px;
            border: 1px solid;
            padding: 10px 10px 10px 40px;
            width: 30vw;
            font-size: 1.5rem;
        }
    }
    .song-list {
        margin-top: 60px;
    }
}
