.sign-in {
    .sign-in-header {
        padding: 24px 0;
        border-bottom: 1px solid var(--borderColorForLight);
        text-align: center;
        .logo {
            width: 20rem;
        }
    }
    .sign-in-body {
        width: 450px;
        max-width: 90%;
        margin: auto;
        .login-bar {
            margin-top: 32px;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            .bar {
                flex: 1;
            }
            .label {
                margin: 0 12px;
                color: var(--greenColor);
                font-weight: 500;
            }
        }
        .form {
            width: 100%;
            padding: 40px 0 24px;
            border-bottom: 1px solid var(--borderColorForLight);
            .form-item {
                &:nth-child(n + 2) {
                    margin-top: 24px;
                }
                .label {
                    display: block;
                    font-weight: 500;
                    font-size: 1.4rem;
                    margin-bottom: 6px;
                    font-size: 1.4rem;
                }
                .input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 16px;
                    border-radius: 6px;
                    border: 1px solid;
                    font-size: 1.4rem;
                }
            }
            .submit-btn {
                margin-top: 24px;
                text-align: end;
                .btn {
                    background-color: var(--greenColor);
                    padding: 10px 24px;
                    border-radius: 24px;
                    outline: none;
                    border: none;
                    font-weight: 500;
                    font-size: 1.5rem;
                }
            }
        }
        .account-empty-label {
            margin: 32px 0 24px;
            color: var(--greenColor);
            font-size: 1.8rem;
            text-align: center;
        }
        .sign-up-btn {
            width: 100%;
            outline: none;
            border: 1px solid var(--borderColorForLight);
            margin: 6px 0 16px;
            text-transform: uppercase;
            padding: 12px;
            border-radius: 32px;
            background: white;
            transition: 0.1s;
            font-size: 1.5rem;
            cursor: pointer;
            &:hover {
                border-color: black;
            }
        }
    }
    .alert-cutom {
        position: fixed;
        top: 12px;
        right: 12px;
    }
}
