.user {
    display: flex;
    align-items: center;
    width: fit-content;
    .user-image {
        width: 28px;
        border-radius: 50%;
    }
    .user-name {
        margin-left: 6px;
        font-weight: 500;
        font-size: 1.6rem;
    }
}
