.song-list {
    box-shadow: none;
    font-size: 1.3rem;
    .song-list-item {
        &:hover {
            background-color: rgb(231, 231, 231);
        }
    }
    .item-infor {
        display: flex;
        align-items: center;
        padding: 6px;
        .image {
            width: 40px;
        }
        .infor {
            margin-left: 12px;
            .song-name {
                margin-bottom: 3px;
                font-size: 1.6rem;
            }
            .artist-name {
                margin-bottom: 0;
                font-size: 1.2rem;
                opacity: 0.6;
            }
        }
    }
    .love-icon 
    {
        cursor: pointer;
        &:hover 
        {
            color: rgb(29, 185, 29);
        }
    }
    .row-is-clicked
    {
        background-color: red;
    }
}
