.song-list-table {
    font-size: 1.6rem;
    td,
    th {
        padding: 12px 6px;
    }
    th[scope="row"] {
        width: 40px;
    }
    .love-icon {
        opacity: 0.6;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
            transform: scale(1.1);
            opacity: 1;
            color: var(--greenColor);
        }
    }
}
