$activeColor: #2a2a2a;
@mixin rowActive {
    background-color: $activeColor;
}
.song-list-table {
    color: white;
    font-size: 1.6rem;
    td,
    th {
        padding: 12px 6px;
    }
    th[scope="row"] {
        width: 40px;
    }
    tr {
        opacity: 0.8;
    }
    tbody {
        tr {
            &:hover {
                @include rowActive();
            }
        }
    }
    tr .active {
        @include rowActive();
    }
    .center-cell {
        text-align: center;
    }
    .love-icon {
        font-size: 1.8rem;
        visibility: hidden;
        cursor: pointer;
        &:hover {
            color: var(--greenColor);
        }
    }
    .lovedActive {
        color: var(--greenColor);
    }
    .show-icon
    {
        visibility: visible;
    }
}
