<table class="table  table-hover  song-list-table">
    <thead class="table-light">
        <tr>
            <th *ngFor="let label of headerLabel" scope="col">{{label}}</th>
            <th scope="col">
                <i class="fa-regular fa-clock"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of songList" (click)="playSong()">
            <td>{{song.id}}</td>
            <td>
                <app-song-name-template [songName]="song.name" [songArtist]="song.singer"></app-song-name-template>
            </td>
            <td>{{song.author}}</td>
            <td>{{song.category}}</td>
            <td>
                <i class="fa-regular fa-heart love-icon" (click)="addToLovedSong($event)"></i>
            </td>
            <td>{{convertTimeFunction({time:song.duration})}}</td>
        </tr>
    </tbody>
</table>