.love-song {
    background-image: linear-gradient(to bottom, #503b97, #49358a, black 80%);
    margin: -12px -24px 0;
    padding: 24px;
    min-height: 100vh;
    $boxShadow: #25155c;
    .cover-image {
        display: flex;
        align-items: flex-end;
        margin-top: 60px;
        padding-bottom: 32px;
        .image {
            width: 240px;
            box-shadow: 0 0 20px $boxShadow;
        }
        .infor {
            margin-left: 24px;
            .title-big {
                margin-bottom: 28px;
                font-size: 9rem;
                font-weight: bold;
                white-space: nowrap;
            }
            .infor-quantity {
                margin-bottom: 0;
                font-size: 1.6rem;
                display: flex;
                align-items: center;
            }
        }
    }
    .play-icon {
        margin: 32px 0 24px 6px;
        cursor: pointer;
    }
    .song-list {
        padding: 0 6px;
    }
}
