.love-song {
    background-image: linear-gradient(to bottom, #4d3895, #cfc8e7, white);
    margin: -12px -24px 0;
    padding: 24px;
    .cover-image {
        display: flex;
        align-items: flex-end;
        color: white;
        margin-top: 60px;
        padding-bottom: 32px;
        border-bottom: 1px solid #f5f5f582;
        .image {
            width: 240px;
        }
        .infor {
            margin-left: 24px;
            .title-big {
                margin-bottom: 50px;
                font-size: 8rem;
                font-weight: bold;
                white-space: nowrap;
            }
            .infor-quantity {
                margin-bottom: 0;
                font-size: 1.6rem;
                display: flex;
                align-items: center;
            }
        }
    }
    .play-icon {
        margin: 32px 0 24px;
        font-size: 6rem;
        color: var(--greenColor);
        cursor: pointer;
    }
    .song-list {
        padding: 0 6px;
    }
}
