.song-name-template {
    display: flex;
    align-items: center;
    .image {
        width: 42px;
        border-radius: 3px;
    }
    .infor {
        font-weight: 500;
        margin-left: 12px;
        .song-name {
            font-size: 1.8rem;
            margin-bottom: 3px;
        }
        .song-singers {
            font-size: 1.3rem;
            margin-bottom: 0;
            opacity: 0.6;
        }
    }
}
.big {
    .image {
        width: 60px;
    }
    .infor {
        .song-name {
            font-size: 1.9rem;
            margin-bottom: 6px;
        }
        .song-singers {
            font-size: 1.4rem;
        }
    }
}
