<div class="song-name-template" *ngIf="data" [ngClass]="{'big': bigImageState}">
    <img [src]="data.songImage" class="image"  />
    <div class="infor">
        <p class="song-name">{{data.songName}}</p>
        <span class="song-singers" *ngFor="let songSinger of data.songSingers ; let i = index">
            <span>{{songSinger}}</span>
            <span *ngIf="i !== data.songSingers.length - 1; then dauPhay;else dauCham"> </span>
            <ng-template #dauPhay>, </ng-template>
            <ng-template #dauCham>.</ng-template>
        </span>
    </div>
</div>